[Unit]
Description=Asterisk Agent
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/env salt-minion -l info
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=10
RemainAfterExit=no
StandardOutput=journal
StandardError=journal
SyslogIdentifier=asterisk-salt

[Install]
WantedBy=multi-user.target
